.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.contents{
  /* display: flex;
  justify-content:space-between; */
  /* background: rgb(156, 48, 48); */
}

.recomended-travel{
  /* display: flex;
  justify-content: space-between; */
  /* background: rgb(133, 58, 58); */
}

.image-slider{
  
}