
    <form  [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="example-form">
        <div class="form-group">

            <mat-form-field class="example-full-width">
                <input matInput [(ngModel)]="user.name" placeholder="name" formControlName="name">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput [(ngModel)]="user.apellido" placeholder="apellido" formControlName="apellido">
            </mat-form-field>

            <div class="button">
                <button mat-button type="submit" [disabled]="!profileForm.valid">Submit</button>
            </div>
        </div>
    </form>
