<div class="content-button">
    <button mat-button (click)="creteOption(1)" color="secundary">Add</button>
</div>
<ng-container [ngSwitch]="option">
    <div *ngSwitchCase="1">
        <app-create-bus (saveBus)="creteOption(value)"></app-create-bus>
    </div>
    <div *ngSwitchCase="2">
        <app-edit-bus></app-edit-bus>
    </div>
    <table *ngSwitchDefault mat-table [dataSource]="items" class="mat-elevation-z8" >
        
        <ng-container matColumnDef="DESTINO">
            <th mat-header-cell *matHeaderCellDef> Destination </th>
            <td mat-cell *matCellDef="let element"> {{element.destino}} </td>
        </ng-container>
        
        <ng-container matColumnDef="MATRICULA">
            <th mat-header-cell *matHeaderCellDef> Enrollment </th>
            <td mat-cell *matCellDef="let element"> {{element.matricula}} </td>
        </ng-container>
    
        <ng-container matColumnDef="ACTIONS" stickyEnd>
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element">
                <button mat-button color="warn" (click)="deleteOption(element.id)">Delet</button>
                <button mat-button color="primary" (click)="editOption(element)">Edit</button>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="titleNames"></tr>
        <tr mat-row *matRowDef="let row; columns: titleNames;"></tr>
    </table>
</ng-container>