.images{
    height: 100%;
    width: 100%;
}

.image1{
    height: 30%;
    width: 50%;
}

.image2{
    height: 30%;
    width: 50%;
}

.image3{
    height: 30%;
    width: 50%;
}

.image4{
    height: 30%;
    width: 50%;
}