
<form  [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="example-form">
    <div class="form-group">

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Last Name" formControlName="apellido">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" formControlName="email" >
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Name" formControlName="nombre">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" formControlName="password">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput type="number" placeholder="Phone" formControlName="telefono">
        </mat-form-field>

        <div class="button">
            <button mat-button type="submit" [disabled]="!profileForm.valid">Submit</button>
        </div>
    </div>
</form>
