
    <form  [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="example-form">
        <div class="form-group">

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Id" formControlName="id" class="form-control">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="User" formControlName="name" class="form-control">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput placeholder="Last Name" formControlName="apellido">
            </mat-form-field>

            <div class="button">
                <button mat-button type="submit" [disabled]="!profileForm.valid">Submit</button>
            </div>
        </div>
    </form>