<div>
    <mat-card class="content-card" *ngFor="let company of getCompany.bus">
        <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title><a href="companyBus" style=text-decoration:none>{{getCompany.name}}</a></mat-card-title>
            <span ></span>
            <mat-card-subtitle>
                <ul>
                    <li>Numero de Bus: {{company.id}}</li>
                    <li>Matricula: {{company.matricula}}</li>
                    <li>Hora de llegada -> La Paz: {{horaLlegada}}</li>
                    <li>Hora de salida -> Cochabamba: {{horaSalida}}</li>
                </ul>
            </mat-card-subtitle>
        </mat-card-header>
       <!-- optional tag -->
        <!-- <mat-card-content>
            <p>
            text 
            </p>
        </mat-card-content> -->
        <!-- end -->
    </mat-card>
</div>